@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witam w mojej aplikacji poświęconej rentierom</h1>
    <p>Dzięki niej uda Ci się łatwiej zażądzać posiadanymi nieruchomościami oraz ułatwi Ci to komunikację najemcami</p>
</div>
