@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my new application dedicated to rentiers who struggle to menage their real estates</h1>
    <h2>"Its great tool to... rule them all, accoring to our first user ...Sauron :-)"</h2>
    
</div>
 