@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my new application dedicated to rentiers </h1>
    <h2>"Its great tool to menage multiple realestates :-)"</h2>
    
</div>
 